@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

body {
    font-family: 'Rubik', sans-serif;
}

/* hazır kodlarım */

.container {
    width: 100%;
    height: 100vh;
    background-color: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.welcome {
    width: 465px;
    & h1 {
        color:  #313E51;
        font-size: 64px;
        font-weight: 300;
        line-height: 100%;
        margin-bottom: 48px;
    } & span {
            color: #313E51;
            font-size: 64px;
            font-weight: 500;
            line-height: 100%;
    }
    & p {
        color: #626C7F;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 150%; /* 30px */
    }
}

.subjects {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & a {
        width: 564px;
        gap: 32px;
        align-items: center;
        display: flex;
        padding: 20px;
        background-color: #fff;
        color: #313E51;
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
        border-radius: 24px;
    } 
}

.subject-container {
    width: 100%;
    height: 100vh;
    background-color: #f4f6fa;
    display: flex;
    flex-direction: column;
    gap: 85px;
    padding: 140px;
}

.subject-container-header {
    width: 1157px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #313E51;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}

.questionBox {
    margin: 0 auto;
    display: flex;
    width: 1160px;
    justify-content: space-between;
}

.question {
    width: 465px;
    color:  #313E51;
    font-size: 36px;
    font-weight: 500;
    line-height: 120%;
    & p {
        color: #626C7F;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 150%; /* 30px */
        margin-bottom: 27px;
        letter-spacing: 1px;
    }
    & h3 {
        color:  #313E51;
        font-size: 64px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
    } & span {
            color: var(--Dark-Navy, #313E51);
            font-family: Rubik;
            font-size: 64px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 64px */
    }
}

.choises {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & button {
        width: 564px;
        border-radius: 24px;
        padding: 20px;
        background-color: #fff;
        border: none;
        display: flex;
        align-items: center;
        text-align: left;
        gap: 32px;
    }
    & h1 {
        color:#313E51;
        font-family: Rubik;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    } & p {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F4F6FA;
        color: #626C7F;
        font-family: Rubik;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 28px */
        border-radius: 16px;
    } & button:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    }
}

#submitAnswer {
    background-color: rgb(167, 41, 245);
    color: #FFF;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

#submitAnswer:hover {
    background-color: rgba(167, 41, 245, .7);
    transition: all .3s;
}

.scoreBox {
    width: 564px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;
    padding: 48px;
    border-radius: 24px;
}

.scoreBoxHeader {
    color: #313E51;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.scoreBoxBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    & h1 {
        color: var(--Dark-Navy, #313E51);
        font-size: 144px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 144px */
    }
    & p {
        color: var(--Grey-Navy, #626C7F);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
    }
}

.rightSide {
    flex-direction: column;
    gap: 32px;
    display: flex;
    & a {
        background-color: #A729F5;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 32px;
        border-radius: 24px;
        width: 100%;
        color: var(--Pure-White, #FFF);
        font-family: Rubik;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 28px */
    }
}
